body {
    background-color: #35654d;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    width: 1200px;
    /* height: 400px; */
    margin: 0 auto;
    text-align: center;
    background-color: #35654d;
}

table {
    /* display: inline-block; */

    margin: auto;
}

table tr td {
    text-align: left;
}

.playerstatus {
    text-align: center;
}

.playerstatus table {
    padding-top: 10px;
}

.cardlayer {
    width: 100%;
}

.buttonlayer {
    position: relative;

    display: inline-block;

    width: 20%;

    margin-top: 20px;

    /* margin: 20px auto 0px auto; */
}

.button {
    display: inline-block;

    width: 117px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    text-transform: uppercase;
    text-align: center;

    background-color: #764243;
}

.fold {
    /* display: block; */

    width: 100%;
}

#popup {
    position: absolute;
    display: none;

    left: 110%;
    top: 5px;

    /* width: 120px; */
    /* height: 200px; */

    background-color: #764243;

    padding: 5px;

    text-transform: uppercase;
}

#popup::before {
    position: absolute;

    content: "";

    top: 0%;
    right: 100%;

    border-width: 7px;
    border-style: solid;
    border-color: #764243 #764243 transparent transparent;

    z-index: 1;
}

#popup .popup-body {
    padding-top: 15px;
}

#popup .popup-footer {
    padding-top: 15px;
}

#popup .popup-footer span {
    display: block;
    
    /* width: 45%; */
    
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

#opponents_layer {
    width: 100%;
    height: 33%;

    padding: 10px 0px 0px 0px;
}

#table_layer {
    width: 100%;
    height: 33%;

    padding: 50px 0px 0px 0px;
}

#table_layer table {
    margin-top: 20px;
}

.playmarker {
    display: inline-block;

    width: 53px;
    height: 52px;

    margin-top:10px;
}

.dealer {
    /* background: url("../img/chips_cover.png") -5px -94px; */
    background: url("../img/chips_cover.png") -2px -38px;
}

#player_layer {
    width: 100%;
    height: 33%;

    padding: 50px 0px 10px 0px;

    text-align: center;
}

.player {
    display: inline-block;

    margin: auto 20px;
}

.card {
    display: inline-block;

    width: 72px;
    height: 100px;

    /* border: 1px solid black; */
}

.closed {
    background: url("../img/playing_cards.gif") -360px -400px;
}

#one.spades {
    background: url("../img/playing_cards.gif") 0px -300px;
}

#two.hearts {
    background: url("../img/playing_cards.gif") -72px 0px;
}

#three.clubs {
    background: url("../img/playing_cards.gif") -144px -200px;
}

#four.diamonds {
    background: url("../img/playing_cards.gif") -216px -100px;
}

#five.hearts {
    background: url("../img/playing_cards.gif") -288px -300px;
}

#king.spades {
    background: url("../img/playing_cards.gif") -864px -300px;
}

#king.hearts {
    background: url("../img/playing_cards.gif") -864px 0px;
}